<h1 class="mt-4">Estabelecimentos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active" *ngIf="isUpdate == false">Cadastro</li>
  <li class="breadcrumb-item active" *ngIf="isUpdate == true">Edição do Cadastro</li>
</ol>
<div class="container">
  <form [formGroup]="estabelecimentoForm">
    <div class="row" *ngIf="isUpdate == true">
      <div class="form-group col-md-2">
        <b>ID:</b>
        <input class="form-control" formControlName="id" type="text" readonly>
      </div>
      <div class="form-group col-md-5">
        <b>Data do Cadastro:</b>
        <input class="form-control" formControlName="createdAt" type="text" readonly>
      </div>
      <div class="form-group col-md-5">
        <b>Ultima Atualização:</b>
        <input class="form-control" formControlName="updatedAt" type="text" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <b>CNPJ:</b>
        <input class="form-control" formControlName="cnpj_cpf" type="text">
      </div>
      <div class="form-group col-md-5">
        <b>Razão Social:</b>
        <input class="form-control" formControlName="razao_social" type="text">
      </div>
      <div class="form-group col-md-4">
        <b>Nome Fantasia:</b>
        <input class="form-control" formControlName="nome_fantasia" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-2">
        <b>Contato:</b>
        <input class="form-control" formControlName="contato" type="text">
      </div>
      <div class="form-group col-md-4">
        <b>E-mail:</b>
        <input class="form-control" formControlName="email" type="text">
      </div>
      <div class="form-group col-md-3">
        <b>UF</b>
        <input class="form-control" formControlName="uf" type="text">
      </div>
      <div class="form-group col-md-3">
        <b>Cidade</b>
        <input class="form-control" formControlName="municipio" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-7">
        <b>Endereço</b>
        <input class="form-control" formControlName="endereco" type="text">
      </div>
      <div class="form-group col-md-5">
        <b>Bairro</b>
        <input class="form-control" formControlName="bairro" type="text">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <b>Grau de Risco</b>
        <textarea class="form-control" formControlName="municipio"
          rows="6"></textarea>
      </div>
      <div class="form-group col-md-6">
        <b>Tipo Grau de Risco</b>
        <textarea class="form-control" formControlName="municipio"
          rows="6"></textarea>
      </div>
    </div>
    <div class="d-flex">
      <div class="p-2 col-md-3"><button class="btn btn-danger btn-lg btn-block"
          type="button">Cancelar</button>
      </div>
      <div class="ml-auto p-2 col-md-3"><button
          class="btn btn-primary btn-lg btn-block" (click)="submitForm()"
          type="button">Enviar</button>
      </div>
    </div>
  </form>
