<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu ">
      <div class="nav">
        <ol class="divisor-nav"></ol>
        <div class="sb-sidenav-menu-heading text-dark font-weight-bold">Sistema
        </div>
        <a class="nav-link" routerLink="home">
          <div class="sb-nav-link-icon">
            <i class="text-dark fas fa-tachometer-alt"></i>
          </div>
          Home
        </a>
        <div class="sb-sidenav-menu-heading text-dark font-weight-bold">
          CADASTROS</div>
        <a class="nav-link collapsed" href="#" data-toggle="collapse"
          data-target="#collapseLayouts" aria-expanded="false"
          aria-controls="collapseLayouts">
          <i class="text-dark fas fa-columns mr-1"></i>
          <div>Estabelecimentos</div>
          <div class="sb-sidenav-collapse-arrow">
            <i class="text-dark fas fa-angle-down"></i>
          </div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
          data-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" routerLink="estabelecimentos/form"><i
                class="fa fa-plus mr-1" aria-hidden="true"></i> Cadastrar</a>
            <a class="nav-link" routerLink="estabelecimentos/list"><i
                class="fa fa-align-justify mr-1" aria-hidden="true"></i>
              Listar</a>
          </nav>
        </div>
      </div>
    </div>

  </nav>
</div>
